:host{
  display: block;
  padding: 0 10px;
  margin: 20px;
  border: 1px solid gray;
  position: absolute;
  right: 0;
  font-family: monospace;
  z-index: 100;
  background-color: rgba(white, 0.8);
  top: 0;
  font-size: 14px;
}

.notes {
  display: flex;
  gap: 8px;
  min-height: 20px;
}

.bold {
  font-weight: bold;
}
