:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;

  --main-bg-color: white;
  --btn-bg-color: white;
  --btn-bg-active-color: #f0f0f0;
  --border-color: #a0a0a0;
  --btn-size: 45px;
  --padding: 30px 20px;
}
