:host {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 30px;
}

button {
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  background: none;
  border-radius: 4px;

  &:hover,
  &:active {
    background-color: var(--btn-bg-color--active);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

app-custom-pack {
  display: none;

  &.visible {
    display: block;
  }
}

.theme-toggle,
.start {
  background-color: var(--holomate-bg-color);
  color: var(--btn-font-color);
  cursor: pointer;

  &:active {
    background-color: var(--main-bg-color);
  }
}

.theme-toggle {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 0;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--logo-src);
  width: 100px;
  height: 40px;
  background-size: contain;
}
