
:host {
  display: flex;
  border: 4px solid var(--main-border-color);
  background-color: var(--main-bg-color);
  border-radius: 8px;
  width: 600px;
  height: 378px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.grid {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.control {
  border-radius: 50%;
  width: var(--btn-size);
  height: var(--btn-size);
  background-color: var(--btn-bg-color);
  border: 10px solid var(--btn-border-color);
  color: var(--btn-border-color);
  position: relative;

  &:active , &.active {
    &::before {
      top: 0;
    }
  }

  &::before {
    content: "";
    display: block;
    background-color: var(--btn-bg-top-color);
    width: 10px;
    height: 20px;
    top: -5px;
    left: 0;
    position: absolute;
    border-radius: 50%;
    width: calc(var(--btn-size) - 20px);
    height: calc(var(--btn-size) - 20px);
  }
}

.knob-space {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.knob {
  --btn-size: 120px;
  &:active {
    &::before {
      top: -32px;
    }
  }

  &::before {
    top: -32px;
    z-index: 10;
  }
  &::after {
    content: "";
    display: block;
    background-color: var(--btn-bg-color);
    width: 10px;
    height: 20px;
    top: 20px;
    left: 0;
    position: absolute;
    width: calc(var(--btn-size) - 20px);
    height: calc(var(--btn-size) / 4);

  }
}
