:host {
  display: flex;
  border: 1px solid var(--border-color);
  background-color: var(--holomate-bg-color);
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.grid {
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px 21px;
  align-items: center;
  justify-content: center;

}

.control {
  border-radius: 50%;
  width: var(--btn-size);
  height: var(--btn-size);
  background-color: var(--btn-bg-color);
  border: 1px solid var(--border-color);
  position: relative;
  z-index: 10;
  background-size: contain;
  transition-duration: 40ms;
  &.active {
    background-color: var(--btn-bg-color--active);
  }
}

.knob-space {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  padding-bottom: 0;
  align-self: flex-end;
  padding-right: 43px;
}

.control__knob {
  --btn-size: 90px;
  background-color: #ff7e00;
  &::after {
    content: "";
    display: block;
    width: 2px;
    height: 40%;
    background-color: var(--main-bg-color);
    position: absolute;
    left: 50%;
    bottom: -1px;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
}
