
:host {
  --main-bg-color: white;
  --btn-bg-color:  white ;
  --btn-bg-active-color:  #f0f0f0 ;
  --border-color:  #666;
  --btn-size: 45px;
  --padding:  30px 20px;
  display: flex;
  border: 1px solid var(--border-color);
  background-color: var(--main-bg-color);
  border-radius: 6px;
  justify-content: space-between;
  margin: 20px auto;
  align-items: center;
  position: relative;
}

.grid {
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.control {
  border-radius: 50%;
  width: var(--btn-size);
  height: var(--btn-size);
  background-color: var(--btn-bg-color);
  border: 1px solid var(--border-color);
  position: relative;
  z-index: 10;
  &.active {
    background-color: var(--btn-bg-active-color);
  }
}

.knob-space {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
}

.control__knob {
  --btn-size: 80px;
  &::after {
    content: "";
    display: block;
    width: 2px;
    height: 40%;
    background-color: black;
    position: absolute;
    left: 50%;
  }
}
