/* themes */
@mixin dark() {
  --main-bg-color: #202020;
  --holomate-bg-color: #35363a;
  --border-color: transparent;
  --btn-bg-color: #202020;
  --btn-bg-color--active: #9c9ea6;
  --btn-font-color: #ddddd8;
  --font-color: #111111;
  --settings-bg-color: #f8f7f7;
  --border-knob-color: #ddddd8;
  --logo-src: url('/assets/logo/logo-white.png')
}

@mixin light() {
  --main-bg-color: #f2f0f0;
  --holomate-bg-color: #ddddd8;
  --border-color: transparent;
  --btn-bg-color: #202020;
  --btn-bg-color--active: #9c9ea6;

  --btn-font-color: #111111;
  --font-color: #202020;
  --settings-bg-color: var(--holomate-bg-color);
  --border-knob-color: var(--holomate-bg-color);
  --logo-src: url('/assets/logo/logo-black.png');
}

:root {
  --btn-size: 55px;
  --padding: 30px 32px;
  --border-radius: 6px;
  --font-size: 20px;

  --color-red: #d64538;
  --color-blue: #2e79b0;
  --color-orange: #ff7e00;
  --color-purple: #805496;
  --color-green: #12963d;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--font-size);
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-family: 'IBM Plex Mono', monospace;
}


@media (prefers-color-scheme: dark) {
  body {
    @include dark;
  }

  body.inverted {
    @include light;
  }
}

@media (prefers-color-scheme: light) {
  body {
    @include light;
  }
  body.inverted {
    @include dark;
  }
}


* {
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

