:host {
  border: 1px solid var(--border-color);
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  flex: 1;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid var(--holomate-bg-color);
  color: var(--font-color);
  &.active {
    background-color: var(--holomate-bg-color);
  }
}


.label {
  background-color: var(--settings-bg-color);
  border-radius: calc(var(--border-radius) / 2);
  padding: 1px 3px;
}
